<h1>Add New Customer</h1>
<form action="/customers" method="POST">
  <input type="text" name="customer[name]" placeholder="Name">
  <input type="email" name="customer[email]" placeholder="Email">
  <input type="text" name="customer[phone]" placeholder="Phone">
  <input type="text" name="customer[address]" placeholder="Address">
  <button type="submit">Add Customer</button>
</form>
